
@font-face
   font-family RTRaleway
   font-style normal
   src url("./fonts/RTRaleway-Regular.ttf")


@font-face
   font-family RTRaleway-Bold
   font-style bold
   src url("./fonts/RTRaleway-Bold.ttf")

@font-face
   font-family RTRaleway-ExtraBold
   font-style bolder
   src url("./fonts/RTRaleway-ExtraBold.ttf")



@font-face
   font-family RTRaleway-Light
   font-style light
   src url("./fonts/RTRaleway-Light.ttf")


body
  font-family RTRaleway, sans-serif
